# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/


# =========================
# Environment / Secrets
# =========================

.env
*.env


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# Logs
# =========================

*.log
alert_log.txt


# =========================
# Data
# =========================

data/raw/
data/processed/


# =========================
# Trained Models
# =========================

*.pkl
*.joblib


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db